body {
    font-family: 'Comfortaa';
    background: rgb(247, 255, 250);
}

.allPosts {
    border: 1px black solid;
    padding: 10px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Post {
    font-family: 'Comfortaa';
    background: white;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.viewPostButton {
    background-image: linear-gradient(to right, rgb(139, 92, 246), rgb(14, 165, 233));
    color: white;
}