body {
    font-family: 'Comfortaa';
    background: rgb(247, 255, 250);
}

.formDiv {
    padding: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}